[Unit]
Description=IPsec IKEv1/IKEv2 daemon
After=network.target

[Service]
ExecStart=/usr/libexec/ipsec/starter --nofork
ExecStop=/usr/libexec/ipsec/ipsec stop
ExecReload=/usr/libexec/ipsec/ipsec reload
Type=forking
Restart=on-failure

[Install]
WantedBy=multi-user.target